/* General */
html {
  font-size: 16px;
}
*:focus {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  font-family: Lato, Arial, sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  background: #fff;
  color: #5a5a5a;
  cursor: default;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-fluid {
  width: 100%;
  margin: 0;
  background: #f4f4f4;
}

.container-fluid-p {
  background: #ed145b;
}

.container-min {
  max-width: 680px;
  width: 60%;
}

.container-med {
  max-width: 1240px;
  width: 80%;
  padding: 100px;
}

/* Page header */
.page-header {
  padding: 39px;
  background: rgba(0,0,0,0);
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand, .brand img {
  display: block;
}


/* Menu */
.menu-items {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.4px;
}

.menu-items li {
  display: inline-block;
  padding: 0 5px;
}

.menu-items li a {
  text-decoration: none;
  color: #fff;
}

.menu-items li a:hover {
  opacity: 0.85;
}

.menu-items li a.active {
  color: #ed145b;
}


/* Buttony */
.btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.55em;
  font-weight: 700;
  letter-spacing: 0.38px;
  border: none;
  background: rgba(0,0,0,0);
  margin: 0 auto;
}

.btn-primary {
  
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #ed145b;
  color: #f4f4f4;
  font-size: 0.9375rem;
  margin: 65px auto;
}

.btn-prices {
  background: #f4f4f4;
  color: #5a5a5a;
  margin: 0 auto;
  position: relative;
  top: 25px;
}

.btn-buy {
  margin: 30px auto 0;
}

.btn-rev {
  color: #ed145b;
  background: #fff;
}

.btn-clkb:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-clkb:focus, a:focus {
  outline: none;
}


/* Page section */
.page-section h4 {
  display: inline-block;
  color: #5a5a5a;
  font-size: 2.375rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: 0.95px;
  margin: 140px auto 0;
}

.page-section h6 {
  color: #ed145b;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  text-align: center;
}

.page-section hr {
  max-width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none;
  margin: 30px auto 35px;
}

.page-section p {
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 2em;
  letter-spacing: 0.38px;
  text-align: center;
  margin: 0;
}


/* /////////////////// */
/* Intro section */
.intro-section {
  height: 800px;
  background: url('../img/diver.png') 50% 0% no-repeat;
  text-align: center;
}

.intro-section h2 {
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 1.1em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.15px;
  color: #fff;
  margin-top: 150px;
}

.intro-section h2 span {
  font-weight: 900;
}

.intro-section p {
  text-align: center;
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.7em;
  letter-spacing: 0.55px;
  margin: 0 auto;
}

/* ///////////////// */
/* About */
.page-section .flex {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.page-section .item hr {
  margin: 27px 0 37px;
}

.page-section .item {
  margin: 0 14px;
}

.page-section .item-1 {
  max-width: 29.375rem;
  flex: 10 1 12.5rem;
}

.page-section .item-2 {
  max-width: 64.375rem;
  flex: 1 10 31.25rem;
}

.page-section .flex h4 {
  margin: 110px auto 0;
  text-align: left;
}

.page-section .flex p {
  text-align: left;
}

.about .video {
  padding: 0;
}

.about .video img {
  vertical-align: -25%;
  margin-left: 8px;
}

.about .video h6:hover {
  opacity: 0.85;
}

.page-section .mac {
  width: 100%;
  position: relative;
  top: 14%;
}

/* Rectangle */
.about .rectangle {
  width: 100%;
  height: 80px;
  background: url('../img/rect.png') left -40px no-repeat;
}


/* ///////////////// */
/* Services section */
.page-section .feature-boxes {
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px auto 110px;
  position: relative;
}

.page-section .feature-box {
  max-width: 138px;
  margin: 10px 15px;
}

.page-section .feature-box h6 {
  margin: 30px auto 0;
}

.services .container-fluid {
  background: url('../img/diver.png') no-repeat;
  background-size: cover;
}

.services .container-fluid * {
  margin: 0 auto;
}

.services .container-fluid p {
  max-width: 51.5625rem;
  display: inline-block;
  color: #f4f4f4;
  font-size: 1.5625rem;
  font-style: italic;
  line-height: 1.5em;
  letter-spacing: 0.63px;
  padding: 45px 0;
}

.services .quote {
  display: block;
}

.services .rotation {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.services .inline {
  width: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.services .arrow {
  opacity: 0.5;
  position: absolute;
  top: 43%;
}

.services .arrow-l {
  left: 0;
}

.services .arrow-r {
  right: 0;
}

/* ////////////////////////// */
/* Prices section */
.page-section .price-boxes {
  padding-bottom: 120px;
  margin-top: 75px;
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
}

.price-box {
  max-width: 16.375rem;
  background: #fff;
  margin: 15px;
}

.price-box:hover .price-box-header {
  background: #ed145b;
}

.price-box-header {
  width: 100%;
  background: #5a5a5a;
  font-weight: 700;
  color: #f4f4f4;
}

.prices h5 {
  font-size: 3.125rem;
  line-height: 0.8em;
  letter-spacing: 1.25px;
  margin: 0 auto;
  padding-top: 33px;
  vertical-align: sub;
}

.prices h5 > span {
  font-size: 1.25rem;
  vertical-align: 7%;
}

.prices p.period {
  font-weight: 700;
}

.price-box-main {
  padding: 55px 30px 30px;
}

.page-section .offer-boxes {
  margin: 140px auto 130px;
  padding: 0;
  justify-content: center;
}

.page-section .offer-box {
  max-width: 21.875rem;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 15px;
}

.offer-box .col-l {
  margin-top: 10px;
  margin-right: 13px;
}

.offer-box .col-r {
  margin-left: 13px;
}

.offer-box .col > * {
  text-align: left;
}

.offer-box h6 {
  margin: 0 0 5px;
}

.prices .container-fluid-p .join-us {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
}

.prices .container-fluid-p h4 {
  color: #fff;
  font-style: initial;
  text-transform: uppercase;
  line-height: 50px;
  margin: 10px 5px;
}

.prices .container-fluid-p h4 span {
  font-weight: 700;
}

.prices .container-fluid-p .btn {
  margin: 10px 5px;
  position: relative;
  left: 15px;
}

/* Prices > thumbnails */
.page-section .latest-boxes {
  justify-content: center;
  padding: 0;
}

.page-section .latest-box {
  max-width: 22.5rem;
  background: #f4f4f4;
}

.page-section .latest-boxes a {
  margin: 30px 10px;
}

.latest-box .image {
  height: 250px;
  width: 100%;
  position: relative;
}

.latest-box .image-1 {
  background: url('../img/thumb-1.png')
}
.latest-box .image-2 {
  background: url('../img/thumb-2.png')
}
.latest-box .image-3 {
  background: url('../img/thumb-3.png')
}
.latest-box .image-4 {
  background: url('../img/thumb-4.png')
}
.latest-box .image-5 {
  background: url('../img/thumb-5.png')
}
.latest-box .image-6 {
  background: url('../img/thumb-6.png')
}


.latest-box .stripe {
  height: 0;
  width: 100%;
  background: rgba(237, 20, 91, 0.85) url('../img/magnifier.png') center center no-repeat;
  position: absolute;
  bottom: 0;
  transition: 0.2s;
  transition-property: height;
}

.latest-box .stripe img {
  position: relative;
  top: -11px;
  transition: 0.1s;
  transition-delay: 0.1s;
  transition-timing-function: ease-out;
}

.latest-box:hover .stripe {
  height: 250px;
}

.latest-box:hover .stripe img {
  opacity: 0;
  transition: 0.1s;
  transition-delay: 0.1s;
}

.latest-box-note {
  padding: 25px 20px 17px;
}

.latest-box-note > h6 {
  margin: 0 0 8px;
  color: #5a5a5a;
}

.latest-box .latest-box-note > * {
  text-align: left;
}

.prices .show-more {
  margin: 0 auto 60px;
}

.prices .show-more > * {
  margin: 1px auto 1px;
}


/* //////////////////////// */
/* Contact section */
.contact .container-fluid.diver {
  height: 650px;
  background: url('../img/diver.png') no-repeat;
  background-size: cover;
}

.contact .container-min > * {
  color: #fff;
}

.contact .btn {
  margin-top: 50px;
}

.contact .flex {
  justify-content: flex-start;
  padding: 75px 0 75px 180px;
}

.contact .item-2 {
  max-width: 51.875rem;
}

.contact .browser {
  max-width: 50rem;
  width: 100%;
}

.contact .flex h4 {
  margin-top: 55px;
}

/* //////////////////// */
/* Page footer */
.page-footer {
  width: 100%;
  background: #2b2b2b;
  margin: 0 auto;
  padding: 45px 0;
  display: inline-block;
  position: relative;
  bottom: 0;
}

.page-footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.page-footer p {
  height: fit-content;
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.1;
  text-transform: uppercase;
  margin: 0 10px;
}

.page-footer p.right {
  position: absolute;
  right: 0;
}

.page-footer a {
  height: 12px;
  vertical-align: middle;
  color: rgba(0,0,0,0);
}





/* //////////////////////////// */
/* MEDIA QUERIES */

@media (min-width: 1601px) {
  .intro-section {
    background-size: cover;
  }
}

@media (min-width: 2001px) {
  .container {
    max-width: 1550px;
  }
  .container-med {
    max-width: 1700px;
  }
  .about .container-fluid .flex {
    padding-right: calc((100% - 1800px)/2);
  }
}


@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
  /* krzywy flexbox */
  .page-section .flex {
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  .container-med {
    width: 90%;
    padding: 100px 10px;
  }
  .page-section .feature-boxes {
    justify-content: space-around;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}
