/* Main */
body {
  max-width: 2000px;
  width: 100%;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  background: #fff;
  color: #5a5a5a;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0;
  background: #f4f4f4;
}

.container-b {
  max-width: 1530px;
  width: 85%;
}

.container-left {}

.container-right {
  position: relative;
  left: 12%;
}

.container-min {
  max-width: 680px;
  width: 60%;
}

.container-med {
  max-width: 1240px;
  width: 80%;
  padding: 100px;
}

/* Page header */
.page-header {
  padding: 39px;
  background: rgba(0,0,0,0);
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand, .brand img {
  display: block;
}


/* Menu */
.menu-items {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.4px;
}

.menu-items li {
  display: inline-block;
  padding: 0 5px;
}

.menu-items li a {
  text-decoration: none;
  color: #fff;
}

.menu-items li a:hover {
  opacity: 0.85;
}

.menu-items li a.active {
  color: #ed145b;
}


/* Buttony */
.btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.55em;
  font-weight: 700;
  letter-spacing: 0.38px;
  border: none;
  background: rgba(0,0,0,0);
}

.btn-primary {
  
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #ed145b;
  color: #f4f4f4;
  font-size: 15px;
  margin: 65px auto;
}

.btn-clkb:hover {
  opacity: 0.8 !important;
  cursor: pointer;
}

.btn-clkb:focus, a:focus {
  outline: none;
}


/* Page section */
.page-section {

}

.page-section h4 {
  color: #5a5a5a;
  font-size: 38px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: 0.95px;
  text-align: center;
  margin: 150px auto 0;
}

.page-section h6 {
  color: #ed145b;
  font-size: 15px;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  text-align: center;
}

.page-section hr {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none;
  margin: 40px auto;
}

.page-section p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0.38px;
  text-align: center;
  margin: 0;
}


/* /////////////////// */
/* Intro section */
.intro-section {
  height: 800px;
  background: url('../img/diver.png') 50% 0% no-repeat;
  text-align: center;
}

.intro-section h2 {
  font-size: 46px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.15px;
  color: #fff;
  margin-top: 220px;
}

.intro-section h2 span {
  font-weight: 900;
}

.intro-section p {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.7em;
  letter-spacing: 0.55px;
  margin: 0 auto;
}

/* ///////////////// */
/* About */
.about .grid h4 {
  margin: 110px auto 0;
  text-align: left;
}

.about .grid p {
  text-align: left;
}

.about .video, .about .video h6 {
  text-decoration: none;
  text-align: left;
}

.about .video img {
  vertical-align: -25%;
  margin-left: 8px;
}

.about .video h6:hover {
  opacity: 0.85;
}

.about .grid {
  display: grid;
  grid-template-columns: 33% 67%;
}

.about .item hr {
  margin: 35px 0 45px;
}

.about .item {
  max-width: 500px;
}

.about .item-2 {
  max-width: 1030px;
}

.about .mac {
  width: 100%;
  position: relative;
  top: 14%;
}

/* Rectangle */
.about .rectangle {
  max-width: 2000px;
  width: 100%;
  height: 80px;
  background: url('../img/rect.png') left -40px no-repeat;
}


/* ///////////////// */
/* Services */
.page-section .feature-boxes {
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 95px auto 120px;
}

.page-section .feature-box {
  max-width: 138px;
}

.page-section .feature-box h6 {
  margin: 34px auto 0;
}

.services .container-fluid {
  background: url('../img/diver.png');
}

.services .container-fluid * {
  margin: 0 auto;
}

.services .container-fluid p {
  max-width: 825px;
  display: inline-block;
  color: #f4f4f4;
  font-size: 25px;
  font-style: italic;
  line-height: 1.5em;
  letter-spacing: 0.63px;
  padding: 45px 0;
}

.services .quote {
  display: block;
}

.services .rotation {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.services .inline {
  width: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.services .arrow {
  opacity: 0.5;
  position: absolute;
  top: 43%;
  /* transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); */
}

.services .arrow-l {
  left: 0;
}

.services .arrow-r {
  right: 0;
}


/* //////////////////// */
/* Page footer */
.page-footer {
  width: 100%;
  background: #2b2b2b;
  margin: 0 auto;
  padding: 45px 0;
  display: inline-block;
  position: relative;
  bottom: 0;
}

.page-footer > .container {
  display: flex;
  position: relative;
}

.page-footer p {
  height: fit-content;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.1;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

.page-footer p.right {
  position: absolute;
  right: 0;
}

.page-footer a {
  height: 12px;
  vertical-align: middle;
  color: rgba(0,0,0,0);
}









/* //////////////////////////// */
/* MEDIA QUERIES */

@media only screen and (min-width: 1601px) {
  .intro-section {
    background-size: cover;
  }
  
  .container-b {
    width: 80%;
  }
}

@media only screen and (min-width: 1900px) {
  .container-b {
    width: 75%;
  }
  .container-right {
    left: 20%;
  }
}

@media only screen and (max-width: 1380px) {
  /* .container-right {
    width: 85%;
  } */

  .page-section h4, .page-section p {
    font-size: 0.85em;
  }
}
